*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}
.main_container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    padding-top: 40px;
    margin: auto;
}
.sidebar{
    height: 115vh;
    background-color: #2a2a2a;
    border: 2px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}  
.main_content{
    background-color: #2a2a2a;
    border: 2px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}
/* profile section */
.profile{
    text-align: center;
}
.profile img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}
/* contact information */
.contact{
    margin-top: 30px;
    border-top: 1px solid #3a3a3a;
    padding-top: 20px;
}
.label{
    font-weight: 500px;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #fffbfb;
    font-weight: bold;
    text-decoration: none;
}
.email,.phone{
    margin-bottom: 15px;
}
/* social media icon */
.social{
    margin-top: 30px;
    border-top: 1px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}
.social img{
    height: 24px;
    width: 24px;
    margin: 5px;
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(27%) hue-rotate(134deg) brightness(112%) contrast(88%);
    transition: filter 0.3s ease;
}
.social img:hover{
    filter: brightness(0) saturate(0) invert(0) sepia(0) saturate(0) hue-rotate(0) brightness(0) contrast(0);
}
/* main_container */
/* navigation */
#navigation{
    border-bottom: 2px solid #3a3a3a;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap : 20px; 
}
nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-size: 500;
    transition: color 0.3s ease;
}
.active, nav a:hover{
    color: #FFBF00;
}
/* about me */
.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
    /* another way*/
    /* position: relative;
    display: inline-block; */
}
.line{
    width: 60px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 15px; 
} 
 /* another way to create line */
/* .heading::after{
    content: "";
    width: 60px;        
    height: 3px;        
    background: #f1c40f; 
    position: absolute;
    left: 0;
    bottom: -8px; */
.paragraph{
    text-align: justify;
}
#about{
    margin-bottom: 30px;
}
/* skills section */
.grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 40px;
}
.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.item img{
    height: 100px;
    width: 100px;
    filter: brightness(0) saturate(100%) invert(84%) sepia(15%) saturate(6256%) hue-rotate(334deg) brightness(94%) contrast(86%);
    margin-bottom: 13px;
}
.item h3{
    font-size: 1rem;
    font-weight: 500;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
/* education section */
#skills{
    margin-bottom: 30px;
}
.edtech{
    position: relative;
}
.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.school{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}
.work{
    color: #a0a0a0;
}
.edfirst{
    position: relative;
    padding-left: 25px;
}
 .goal{
    height: 15px;
    width: 15px;
    border: 3px solid #FFBF00;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 0px;
    z-index: 5;
 }

 .liner{
    position: absolute;
    width: 2px;
    top: 0px;
    bottom: 1px;
    left: 5px;
    border: 2px solid #3a3a3a;
 }
#education{
    margin-bottom: 30px;
}

